name: CI

on:
  push:
    branches:
      - "main"
      - "master"
    paths-ignore:
      - "README.md"
      - "LICENSE"
  pull_request:
    paths-ignore:
      - "README.md"
      - "LICENSE"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.0"
          - "1" # automatically expands to the latest stable 1.x release of Julia
          - nightly
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch:
          - x64
          - x86
        pkg-server:
          - ""
          - "pkg.julialang.org"
        # 32-bit Julia binaries are not available on macOS
        exclude:
          - os: macOS-latest
            arch: x86

    steps:
      - name: Checkout Example.jl
        uses: actions/checkout@v4
        with:
          repository: julia-actions/Example.jl

      - name: Verify that test output file does not exist yet
        run: test ! -f "$HOME/julia-buildpkg"
        shell: bash

      - name: Checkout julia-buildpkg
        uses: actions/checkout@v4
        with:
          path: ./.github/actions/julia-buildpkg

      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

      - uses: ./.github/actions/julia-buildpkg
        with:
          ignore-no-cache: true
        env:
          JULIA_PKG_SERVER: ${{ matrix.pkg-server }}

      - uses: julia-actions/julia-runtest@v1

      - uses: julia-actions/julia-processcoverage@v1

      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info

      - name: Verify that test output file exists
        run: test -f "$HOME/julia-buildpkg"
        shell: bash
